* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	padding-bottom: 2em;
}

footer {
	padding-top: 1em;
	padding-bottom: 1em;
	margin-bottom: 1em;
}

body,
html {
	height: 100%;
	font-family: 'Lato', sans-serif;
}

body {
	font-family: sans-serif;
	font-size: 14px;
	background-color: hsla(181, 1%, 74%, 0.8);
}

p,
li {
	color: black;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	line-height: 1.2em;
}

hr {
	border: 0.5px solid hsl(245, 42%, 15%);
}

h2 {
	color: white;
	text-transform: lowercase;
	font-weight: 700;
	font-size: 34px;
	letter-spacing: 0.1em;
}

img {
	display: block;
	min-height: auto;
	width: 100%;
}

a {
	text-decoration: none;
	color: hsl(220, 39%, 28%);
}

a:hover {
	color: white;
	cursor: pointer;
}

.logo {
	max-width: 30vw;
	height: 100%;
	margin: auto;
	padding-top: 50px;
}

/*Home Page*/

.project-title {
	padding: 10px 10px 10px 10px;
}

.project-links ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	padding: 0;
	justify-content: space-around;
	margin-top: 1em;

}

.project-links ul li {
	text-align: center;
	flex: 1 0 auto;
}

.project-links a {
	font-weight: bold;
	color: #393E3F;
}

/*Footer*/

.copyright {
	margin: auto;
}

.copyright p {
	color: white;
	text-align: center;
}

.social-links {
	margin-top: 1em;
	margin-left: auto;
	margin-right: auto;
	max-width: 12%;
}

.social-links ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.social-links li {
	/*margin: 10px;*/
	margin: auto;
}

.social-links li a {
	padding: 10px;
	/*circle radius*/
	text-decoration: none;
	color: white;
}

/*social icons*/
.fa {
	padding: 20px;
	font-size: 30px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
	background-color: black;
}

.fa:hover {
	background-color: gray;
}


/*SLIDESHOW*/
.mySlides {
	display: none
}

/* Slideshow container */
.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	background-color: rgba(0, 0, 0, 0.4);
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.autoSlides {
	display: none;
	margin-top: 3em;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

/*SLIDESHOW FADE*/
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {
		opacity: .4
	}

	to {
		opacity: 1
	}
}

@keyframes fade {
	from {
		opacity: .4
	}

	to {
		opacity: 1
	}
}

/*GRID STYLE*/

.container {

	max-width: 50%;
	padding-left: 30px;
	padding-right: 30px;
	background-color: hsl(177, 39%, 69%);
	margin: auto;

	box-shadow: rgba(0, 0, 0, .2) 3px 5px 10px 3px;
	/*right bottom */
}

.grid-container {
	grid-template-columns: auto auto;
	display: grid;
	grid-gap: 10px;
	padding: 10px;
	grid-template-areas: 'header'
		'main'
		'footer';
}

/*Portfolio Page*/

.portfolio-grid {
	height: auto;
	display: grid;
	/*grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));*/
	grid-gap: 3%;
	padding: 3%;
	padding-bottom: 20px;
	justify-content: center;
	grid-template-columns: auto auto auto;
}

.card1,
.card2,
.card3,
.card4,
.card5,
.card6 {

	/* Set a specific height */
	height: 250px;

	/* Position and center the image to scale nicely on all screens */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	cursor: pointer;
}

.card1:before,
.card2:before,
.card3:before,
.card4:before,
.card5:before,
.card6:before {
	background: none;
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transition: all .3s linear;
	content: "";
}

/*Hover color*/
.card1:hover:before,
.card2:hover:before,
.card3:hover:before,
.card4:hover:before,
.card5:hover:before,
.card6:hover:before {
	background: rgba(255, 255, 255, 0.4);
}

.cardText {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

.cardText h2 {
	font-size: 20px;
	font-weight: 600;
	padding-bottom: 5px;
}

.cardText p {
	color: white;
	font-size: 12px;
	font-weight: 200;
}

/*Card Images*/

.card1 {
	background-image: url("../assets/pizza_roll/pizza-bg.png");
}

.card2 {
	background-image: url("../assets/save_the_snacks/sts1.jpg");
}

.card3 {
	background-image: url("../assets/airpods/airpods.png");
}

.card4 {
	background-image: url("../assets/hackerjacks/ProgrammingClubHackerjacks_Logo.png");
}

.card5 {
	background-image: url("../assets/chill_jam/chill_jam.png");
}

.card6 {
	background-image: url("../assets/bit_bash/bit_bash.png");
}

/*about page*/

.about-container img {
	width: 100%;
}

.about-container:after {
	content: "";
	clear: both;
	display: table;
}

.about-image {
	padding-bottom: 20px;
	width: 50%;
	float: left;
}

.about-text {
	padding-left: 20px;
	width: 50%;
	float: left;
}

/*Project pages*/
.description-column li {
	text-indent: 2em;
	line-height: 1.5em;
}

.description-column p {
	margin-top: 15px;
	margin-bottom: 10px;
}

.image-column img {
	margin-bottom: 10px;
}

.info-box {
	padding: 10px;
}

.info-box ul {
	list-style-type: none;
}

.documentation{
	margin-left: auto;
	margin-right: auto;
	float: left;
}

.doc-column{
	float: left;
  	padding: 5px;
}

.documentation img{
	height: 150px;
	width: 100px;
}

.documentation img:hover{
	cursor: pointer;
}

.documentation::after {
	content: "";
	clear: both;
	display: table;
  }

/*NAV MENU STYLES - links styled at top*/
nav {
	margin-top: 1em;
	margin-left: auto;
	margin-right: auto;
	max-width: 20%;
}

nav ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0;
}

nav li a {
	display: block;
	padding: 1em;
	text-decoration: none;
	color: rgb(53, 53, 53);
}

nav li a:hover {
	color: white;
}

nav ul li {
	flex: 1 0 auto;
	/* grow is set to 1 -means it will grow to fill available space, but 0 means it wont shrink, and auto is starting size default*/
	text-align: center;
	font-size: 18px;
	font-weight: 600;
}


/*MEDIA QUERIES*/

/*applies only to screens under 768px - mobile*/
@media only screen and (max-width: 955px) {

	/*navigation*/
	nav {
		max-width: 100%;
	}

	nav li:hover {
		background-color: lightgray;

	}

	nav li a:hover {
		color: white;
	}

	nav ul {
		flex-direction: column;
	}

	.social-links {
		max-width: 30%;
	}

	/*card sizes*/

	.card1,
	.card2,
	.card3,
	.card4,
	.card5,
	.card6 {
		height: 400px;
	}

	/*page sizing*/
	.container {
		max-width: 95%;
	}

	.portfolio-grid {
		grid-template-columns: auto;
		padding-bottom: 380px;
	}

	.grid-container {
		grid-template-columns: auto;
	}

	.about-text {
		width: 100%;
	}

	.about-image {
		width: 100%;
	}

	.logo {
		max-width: 80vw;
	}

}

/*applies only to screens btwn 769px and 992px - tablet*/
@media only screen and (min-width:956px) and (max-width: 1400px) {

	nav {
		max-width: 25%;
	}

	.social-links {
		max-width: 25%;
	}

	.logo {
		max-width: 40vw;
	}

	.card1,
	.card2,
	.card3,
	.card4,
	.card5,
	.card6 {
		height: 300px;
	}

	.container {
		max-width: 70%;
	}

	.portfolio-grid {
		grid-template-columns: auto auto;
		padding-bottom: 5em;
	}

}